@media (max-width: 768px) {
	/*  adding sky animation */
	.main__animation-points {
		width: 90%;
		height: 40%;
		position: absolute;
		// background-image: url('../assets/Frame_6_new.svg');
		// background-image: url('../../assets/Frame_6_new.svg');
		// background-size: cover;
		// background-repeat: no-repeat;
		animation-name: slide;
		animation-duration: 6s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-fill-mode: both;
		top: 25%;
	}
	.main__animation-stars {
		width: 100%;
		position: absolute;
		// background-image: url('../assets/Frame_29.svg');
		@include background_images('../../assets/Frame_29.svg');
		animation: opacity 4s linear both infinite;
	}
	@keyframes slide {
		0% {
			opacity: 0.5;
		}
		70% {
			transform: translateY(6%) translateX(1%) scale(1.2);
			opacity: 1;
		}
		100% {
			opacity: 0.6;
		}
	}
	@keyframes opacity {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
